body {
  font-family: 'Lato', sans-serif;
  background-color: seashell;
}

input {
  background-color: #fcf8e3;
}

.content {
  padding: 50px;
}

.title {
  padding: 20px;
  font-weight: bold;
}

.button {
  margin: 20px;
}

#saveButton {
  background-color: #5cb85c;
}

.task {
  margin: 20px;
  height: 100px;
  background-color: #fcf8e3;
}

.deleteButton {
  float: right;
}

#topBar {
  background-color:black;
  height: 40px;
}